header {
  .content {
    .title {
      display: inline-block;
      text-decoration: underline;
      font-size: 30px;
      a {
        color: black;
      }
    }
    .login {
      float: right;
    }
  }

  border-bottom: 1px solid black;
  height: 50px; 
  margin-bottom: 20px;
}
